<%= form_with(model: invoice_bag) do |form| %>
  <% if invoice_bag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invoice_bag.errors.count, "error") %> prohibited this invoice_bag from being saved:</h2>

      <ul>
        <% invoice_bag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :total_amount, style: "display: block" %>
    <%= form.number_field :total_amount %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
