<h1>Editing invoice bag</h1>

<%= render "form", invoice_bag: @invoice_bag %>

<br>

<div>
  <%= link_to "Show this invoice bag", @invoice_bag %> |
  <%= link_to "Back to invoice bags", invoice_bags_path %>
</div>
