<p style="color: green"><%= notice %></p>

<h1>Invoice bags</h1>

<div id="invoice_bags">
  <% @invoice_bags.each do |invoice_bag| %>
    <%= render invoice_bag %>
    <p>
      <%= link_to "Show this invoice bag", invoice_bag %>
    </p>
  <% end %>
</div>

<%= link_to "New invoice bag", new_invoice_bag_path %>
