<p style="color: green"><%= notice %></p>

<%= render @invoice_bag %>

<div>
  <%= link_to "Edit this invoice bag", edit_invoice_bag_path(@invoice_bag) %> |
  <%= link_to "Back to invoice bags", invoice_bags_path %>

  <%= button_to "Destroy this invoice bag", @invoice_bag, method: :delete %>
</div>
